<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDPnp1HULbmA1-vCNB881S2wO8oZQ87zg</string>
	<key>GCM_SENDER_ID</key>
	<string>1047407130497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bloggingapp.firebase</string>
	<key>PROJECT_ID</key>
	<string>blogintern-e387c</string>
	<key>STORAGE_BUCKET</key>
	<string>blogintern-e387c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047407130497:ios:238298a347d9133edd1a80</string>
</dict>
</plist>